---
name: Predbat_UT
version: 1.5.2
slug: predbat_ut
description: Home Battery Prediction and Control
url: https://github.com/BentleyWells/predbat_addon3
codenotary: al090187@gmail.com
ingress: True
ingress_port: 5052
ingress_root: "/"
panel_icon: mdi:alpha-u
ports:
  8199/tcp: 8199
arch:
  - aarch64
  - amd64
  - armv7
init: false
homeassistant_api: true
hassio_api: true
hassio_role: admin
auth_api: true
map:
  - addon_config:rw
  - homeassistant_config:rw
  - media:rw
  - share:rw
  - ssl
options:
  dummy: []
schema:
  log_level: list(trace|debug|info|notice|warning|error|fatal)?
  dummy:
    - str
